extends layout
block content
  body
    .container.contDC
      form(role="form" action="/worker/" method="POST" name="workerReg" onsubmit="return validate()"  enctype="multipart/form-data")
        .row.rowDC
          .col-md-12.headingDC
            | Driver and Conductor Registration
          .col-md-6.col-md-6DC
            label(for='Firstname') First Name *
            input#Firstname.form-control.form-controlDC(type='text' name='firstName' placeholder='First Name')
            span#fName
          .col-md-6.col-md-6DC
            label(for='Secondname') Last Name *
            input#Secondname.form-control.form-controlDC(type='text' name='secondName' placeholder='Last Name')
            span#lName
          .col-md-6.col-md-6DC
            label(for='nationalid') National Identity Number *
            input#nationalid.form-control.form-controlDC(type='text' name='natId' placeholder='NIN')
            span#valNIN
          .col-md-6.col-md-6DC
            label(for='license') Driving License *
            input#license.form-control.form-controlDC(type='text' name='drivLic' placeholder='License number')
            span#drleRR
          .col-md-12.col-md-12DC
            label(for='dateofbirth') Date of Birth *
            input#dateofbirth(type='date' name='dateOfBirth' value="date")
            span#dOB
          .col-md-4.col-md-4DC
            fieldset
              legend Gender *
              label(for='Male') Male
              input#male(type='radio' name='gender' value='Male')
              label(for='Female') Female
              input#female(type='radio' name='gender' value='Female')
              span#wGend
          .col-md-4.col-md-4DC
            fieldset
              legend Past Incidences
              label Accidents
              input#accidents(type='checkbox' name="pastincident" value="Accidents")
              label Fights
              input#fights(type='checkbox' name="pastincident" value="Fights")
              label Fuel Thefts
              input#fuel(type='checkbox' name="pastincident" value="Fuel Thefts")
              span#wIncid
          .col-md-4.col-md-4DC
            fieldset
              legend Driver or Conductor *
              label(for='driver') Driver
              input#driver(type='radio' name='position' value='Driver')
              label(for='conductor') Conductor
              input#conductor(type='radio' name='position' value='Conductor')
              span#role
          .col-md-6.col-md-6DC.form-group
            label(for='exampleFormControlFile1') Load Photo *
            input#exampleFormControlFile1.form-control-file(type='file' name='avatar')
            span#wUpload
          .col-md-12.col-md-12DC
            button.btn.btn-secondary.btnDC(type='submit') Register
    script(src="/javascript/workerVal.js") 