doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/styles/landingPage.css')
    title Document
  body
    nav.navbar.navbar-light.bg-light
      .container-fluid       
        img(src='/images/00541cae-2e5c-4e01-a735-f2837cc72dde_200x200.png' alt='logo' style='width:200px; height:200px;')
        ul
          li
            a(href='/login/') Login
          li
            a(href='/signup/') Signup
    #landerCont.container
      .background-image
      .content
        h5(style='color: chartreuse; font-size: 30px;') The Stay Clean Initiative
        p
          | Stay Clean Initiative is an NGO aimed at changing the dinamics of waste solutions in areas within the capital of Kampala. This web application bridges the gap of recording the calls from customers and managing the trucks
        p(style='color: rgb(211, 26, 118);') Register as an Admin to use this platform
