extends layout
block content
  .panel
    .panel-head
      h6.title Truck List
    span.newCust
      a(href='/truck/') Register A new Truck
    #searchBtn.input-group
      .form-outline
        input#form1.form-control(type='search' name='truckCode' placeholder='Enter Truck Code')
      button#SBtn.btn.btn-primary(type='button')
        i.fa.fa-search  
    .panel-body
      table.zebra
        tbody
          tr
            th Manufacturer
            th Vehicle Model
            th Registration Number
            th Truck Code
            th Driver 
            th Action
          if trucks.length
          each truck in trucks
            tr
              td #{truck.truckMake}
              td #{truck.truckModel}
              td #{truck.truckRegNo}
              td #{truck.truckCode}
              td
                a.edit(href='/truck/update/' + truck._id)
                  ion-icon(name='create-outline')
                a.remove(href='/truck/delete/'+truck._id)
                  ion-icon(name='trash-outline')



